/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Overpass:wght@100;200;300;400;700&display=swap");

:root {
  /* Font */
  --font-family-main: "Overpass";
  --font-size-main: 15px;

  /* Colors Primary */
  --clr-orange: hsl(25, 97%, 53%);

  /* Colors Neutral */
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
}
.attribution a {
  color: var(--soft-magenta);
}

* {
  /* Defaults */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-main);
  font-family: var(--font-family-main), sans-serif;
  color: white;
}

body {
  background-color: var(--clr-very-dark-blue);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.card {
  background: rgb(25, 30, 39);
  background: linear-gradient(
    0deg,
    rgba(25, 30, 39, 1) 0%,
    rgba(33, 37, 48, 1) 100%
  );
  max-width: 375px;
  padding: 30px;
  border-radius: 30px;
}

.card-ratings--hidden {
  display: none;
}

.card-thank-you--hidden {
  display: none;
}

.circle-centered-content {
  background-color: var(--clr-dark-blue);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__title {
  font-size: 2rem;
  margin: 30px 0 10px 0;
}

.card__text {
  opacity: 0.5;
  font-weight: 300;
}

.rating {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 30px auto;
}

.rating__item {
  color: var(--clr-light-grey);
}

.rating__item:hover {
  background-color: var(--clr-light-grey);
  color: white;
  cursor: pointer;
}

.rating__item--selected,
.rating__item--selected:hover {
  background-color: var(--clr-orange);
  color: white;
}

.card__btn-submit-rating {
  text-transform: uppercase;
  background-color: var(--clr-orange);
  border-radius: 50px;
  width: 100%;
  height: 50px;
  border: none;
}

.card__btn-submit-rating:hover {
  background-color: white;
  color: var(--clr-orange);
  cursor: pointer;
}

.card-thank-you {
  text-align: center;
}

.rating-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rating-selection p {
  color: var(--clr-orange);
  background-color: var(--clr-dark-blue);
  padding: 7px 20px;
  border-radius: 30px;
  font-weight: 300;
}

.card-thank-you__rating {
  color: var(--clr-orange);
}
